<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" formControlName="username" class="form-control">
        </div>
        <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" class="help-block">
          Username does not have a valid value!
        </span>
        <div class="form-group">
          <label for="email">email</label>
          <input type="text" id="email" formControlName="email" class="form-control">
          <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block">
            Email does not have a valid value!
          </span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>