<div class="text-center">
    <h1 class="mb-4 text-6x1 font-semibold text-red-500">404 </h1>
    <p class="mb-4 text-lg text-gray-600">Oops! Looks like you're lost. </p>
<div class=" animate-bounce">
 <!-- <svg xm1ns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-auto h-16 w-16 text-red-500">
   <path stroke-linecap="round" strock-linejoine="round" d="M9.348 14.651a3.75 3.75 0 010-5.303m5.304 0a3.75 3.75 0 010 5.303m-7.425 2.122a6.75 6.75 0 010-9.546m9.546"/>
 </svg> -->
</div> 
<p class="mt-4 text-gray-600">Let's get you back <a routerLink="/home" routerLinkActive="active" class="text-blue-500 cursor-pointer"> Home </a>. </p> 
</div>
