<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="serverName"> -->
      <input type="text" class="form-control" #localRef1>
      <label>Server Content</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="serverContent"> -->
      <input type="text" class="form-control" #domReference1>
      <br>
      <button  class="btn btn-primary"  (click)="onAddServer(localRef1)">Add Server</button>
      <button class="btn btn-primary"  (click)="onAddBlueprint(localRef1)">Add Server Blueprint</button>
    </div>
  </div>