<div>
  <label>Payee Name: </label>
  <input (input)="onNameChange($event)" />
</div>
<div>
  {{ name | titlecase}}
</div>
<div>
  <label>Payment Date: </label>
  <input type="date" (input)="onDateChange($event)" />
</div>
<div>
  {{ date| date: 'MMMM d yyyy' }}
</div>
<div>
  <label>Amount: </label>
  <input type="currency" (input)="onAmountChange($event)" />
</div>
<div>
  {{ amount | currency: 'AUD' }}
</div>
<div>
  <label>Height: </label>
  <input (input)="onHeightChange($event)" />
</div>
<div>
  {{ height | number:'3.1-3'}}
</div>
<div>
  {{ person|json }}
</div>
<div>
  <label>Miles: </label>
  <input (input)="onKilometerChange($event)" />
</div>
<div>
  {{ miles| convert: 'km' }}
</div>
  